<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <a mat-button routerLink="/"
    ><mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
    ></mat-icon
  ></a>
  @if (this.isAuthenticated()) {
  <a mat-button routerLink="/customer">Customer</a>
  <a mat-button routerLink="/transaction">Transaction</a>
  <a mat-button routerLink="/account">Account</a>
  }
  <span class="example-spacer"></span>
  @if (!this.isAuthenticated()) {
  <a mat-button href="https://localhost:7158/bff/login?returnUrl=https://localhost:4200">
    <mat-icon
      aria-hidden="false"
      aria-label="Example login icon"
      fontIcon="login"
    ></mat-icon>
    Login
  </a>
  } @else {
  <a mat-button [href]="logoutUrl()+'&returnUrl=https://localhost:4200'">
    <mat-icon
      aria-hidden="false"
      aria-label="Example logout icon"
      fontIcon="logout"
    ></mat-icon>
    Logout
  </a>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon
      aria-hidden="false"
      aria-label="Example account icon"
      fontIcon="account_circle"
    ></mat-icon>
    Account
    <mat-menu #menu="matMenu">
      <button mat-menu-item>{{ this.username() }}</button>
    </mat-menu>
  </button>
  }
</mat-toolbar>
<div style="margin-top: 10px">
  <router-outlet></router-outlet>
</div>
